<div class="p-3">
  <div class="card">
    <div class="card-body">
      <table *ngIf="accounts">
        <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Balance</th>
          <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.id}}</td>
          <td>{{account.type}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.createdAt}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
